<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>ToyApp</title>
=======
    <title>HelloApp</title>
>>>>>>> ce077e7708cf325641ecd5c498b57157f36ea27a
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
